 * {
 	font-family: 'Stylish', sans-serif;
 }
.banner {
	background-image: url(img/antinous.jpeg);
	height: 700px;
}

.text-banners {
	margin-top: 150px;
}

.text-banner-title, .article-title {
   font-weight: bold;
}

.article {
	margin: 30px;
}

.articles {
   margin-top: 150px;
   margin-bottom: 150px;
}

.footer {
	min-height: 150px;
	background-size: cover;
	background-color: black;
	padding: 30px;
	color: white;
}

.footer .widget ul {
	list-style: none;
}
.footer .widget ul li{
	margin-left: 0;
}

.footer .widget ul li a{
	color: white;
}

.footer .widget ul li a{
	color: white;
	text-decoration: none;
}

.footer .copyright {
	margin-top: 50px;
}

